.play-dice-screen {
  height: 100%;
  width: 100%;

  padding: 35px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  gap: 20px;

  background-color: #e6e8e6;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
